.intro {
  max-width: 50rem;
  float: left;
}

.content {
  float: left;
  max-width: 100rem;
  column-count: 2;
  position: absolute;
  bottom: 2rem;

  & p {
    font-size: 16px;
    line-height: 1.3;
  }
}