.container {
  position: absolute;
  top: 50%;
  border: 0;
  background: transparent;
  transform: translateY(-50%);
  width: 3em;
  height: 3em;
  padding: 0;

  &:hover,
  &:focus {
    & .border {
      fill: #fff;
    }

    & .shape {
      fill: #000;
    }
  }

  &:focus {
    outline: none;
  }
}

.next {
  right: 2em;
}

.prev {
  left: 2em;
  & .icon {
    transform: rotate(180deg);
  }
}

.icon {
  width: 100%;
  height: 100%;
  display: block;
  overflow: visible !important;
}

.shape {
  fill: #fff;
}

.border {
  fill: transparent;
  stroke: #fff;
  stroke-width: 2px;
  stroke-location: inside;
}