.title {
  top: 48%;
  width: 70%;
  margin: 0;
  position: absolute;
  transform: translateY(-50%);

  & .subTitle {
    font-size: 1.35em;
    font-weight: 300;
  }
}

.intro {
  display: none;

  & p {
    font-weight: 300;
    max-width: 35em;
  }
}